extends layout

block prepend title
  | #{ page.title + ' · '}

block content
  article.container
    h1.center.mb0= page.title
    time.light-gray.h5.mb2.block.center= moment.utc(page.date).format('MMMM DD, YYYY')
    section.content!= typogr(page.html).typogrify()

block prepend footer
  a(href=contents.index.url).h2.mb2.block « Back home
