extends layout

block content
  each article in articles
    article
      h1.mt2.mb0.center
        a(href=article.url)= article.title
      time.light-gray.h5.mb2.block.center= moment.utc(article.date).format('MMMM DD, YYYY')
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    if nextPage
      a(href=nextPage.url) Next page »
